@{
  ViewData["Title"] = "Projects";
}
@model List<Project>

<p class="text-center">Projects from oldest (botton right) to newest (top left) by update date</p>

<div class="container">
  @foreach(Project project in Model)
  {
    <div class="col-sm project-section" style="max-width: 33%; display: inline-block">
      <img src="~/img/@project.ProjectImgs[0].ImgLoc" alt="@project.ProjectImgs[0].Alt" 
      style="width: 100%; height: 300px; object-fit: cover; border-radius: 30px; padding: 2px 2px; border-bottom: 1px dotted black;">
      <div style="padding: 0px 10px;">
        <h3 class="text-center" style="margin: 15px 0px;">
          <a asp-action="Info" asp-route-title="@project.Title">@project.Title</a>
        </h3>
        <p class="text-center">@project.LangAndTech</p>
        <div class="icons" style="display: flex; justify-content: space-evenly;">
          <a href="http://@project.LiveURL" target="_blank">
            <img src="~/img/icon-web.png" style="height:50px; width:50px;" alt="Link to live site">
          </a>
          <a href="@project.RepoURL">
            <img src="~/img/icon-github.png" style="height:50px; width:50px;" alt="Github icon">
          </a>
        </div>
      </div>
    </div>
  }
  @* <!-- <div class="col-sm project-section" style="max-width: 33%; display: inline-block">
    <div class="project-img"></div>
    <div style="padding: 0px 10px;">
      <h3 style="margin: 15px 0px;">Activity Center</h3>
      <p class="text-left font-weight-bold" style="margin: 0px;">Key Features:</p>
      <ul class="text-left">
        <li>Login and Registration with validation</li>
        <li>Create, delete, join, and leave activity</li>
        <li>Activity conflict checker</li>
      </ul>
      <p class="text-left">C# .NET, MySQL, LINQ, Bootstrap</p>
      <div class="icons" style="display: flex; justify-content: space-evenly;">
        <img src="~/img/icon-web.png" style="height:50px; width:50px;" alt="Link to live site">
        <img src="~/img/icon-github.png" style="height:50px; width:50px;" alt="Github icon">
      </div>
    </div>
  </div>
  <div class="col-sm project-section" style="max-width: 33%; display: inline-block">
    <div class="project-img"></div>
    <div style="padding: 0px 10px;">
      <h3 style="margin: 15px 0px;">Activity Center</h3>
      <p class="text-left font-weight-bold" style="margin: 0px;">Key Features:</p>
      <ul class="text-left">
        <li>Login and Registration with validation</li>
        <li>Create, delete, join, and leave activity</li>
        <li>Activity conflict checker</li>
      </ul>
      <p class="text-left">C# .NET, MySQL, LINQ, Bootstrap</p>
      <div class="icons" style="display: flex; justify-content: space-evenly;">
        <img src="~/img/icon-web.png" style="height:50px; width:50px;" alt="Link to live site">
        <img src="~/img/icon-github.png" style="height:50px; width:50px;" alt="Github icon">
      </div>
    </div>
  </div>
  <div class="col-sm project-section" style="max-width: 33%; display: inline-block">
    <div class="project-img"></div>
    <div style="padding: 0px 10px;">
      <h3 style="margin: 15px 0px;">Activity Center</h3>
      <p class="text-left font-weight-bold" style="margin: 0px;">Key Features:</p>
      <ul class="text-left">
        <li>Login and Registration with validation</li>
        <li>Create, delete, join, and leave activity</li>
        <li>Activity conflict checker</li>
      </ul>
      <p class="text-left">C# .NET, MySQL, LINQ, Bootstrap</p>
      <div class="icons" style="display: flex; justify-content: space-evenly;">
        <img src="~/img/icon-web.png" style="height:50px; width:50px;" alt="Link to live site">
        <img src="~/img/icon-github.png" style="height:50px; width:50px;" alt="Github icon">
      </div>
    </div>
  </div> --> *@
</div>