@{
  ViewData["Title"] = "Projects";
}
@model List<Project>

<div class="header-spacing">
  @if(ViewBag.isAdmin == true)
  {
    <div class="text-center">
      <a asp-action="CreateForm">
        <button class="btn btn-info">
          <span>Create Project</span>
        </button>
      </a>
    </div>
  }
  <p class="text-center">Projects from oldest (botton right) to newest (top left) by update date</p>

  <div class="container">
    @foreach(Project project in Model)
    {
      <div class="col-sm project-section project-box">
        <img src="~/img/@project.ProjectImgs[0].ImgLoc" alt="@project.ProjectImgs[0].Alt">
        <div class="padding-0-10">
          <h3 class="text-center">
            <a asp-action="Info" asp-route-title="@project.Title">@project.Title</a>
          </h3>
          <p class="text-center">@project.LangAndTech</p>
          <div class="icons project-box-footer">
            @if (project.LiveURL != null)
            {
              <a href="http://@project.LiveURL" target="_blank">
                <img src="~/icons/icon-web.png" alt="Link to live site">
              </a>
            }
            @if (project.RepoURL != null)
            {
              <a href="@project.RepoURL" target="_blank">
                <img src="~/icons/icon-github.png" alt="Github icon">
              </a>
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>