@{
  ViewData["Title"] = "Project Info";
}
@model Project

<div class="header-spacing">
  @if(ViewBag.isAdmin == true)
  {    
    <div class="text-center">
      <a asp-action="EditForm" asp-route-id="@Model.ProjectId">
        <button class="btn btn-info">
          <span>Edit Project</span>
        </button>
      </a>
    </div>
  }
  <h1 class="text-center mb-20">@Model.Title</h1>

  <div class="mt-20">
    <h4>Language and Technologies:</h4>
    <p>@Model.LangAndTech</p>

    <h4>What I learned:</h4>
    <p class="multiline">@Model.Learned</p>

    <h4>Most difficult part:</h4>
    <p class="multiline">@Model.Difficult</p>

    @if (Model.RepoURL != null)
    {
      <h4>Github Repo: </h4>
      <p>
        <a href="@Model.RepoURL" target="_blank"> Click here to see the Repo</a>
      </p>
    }

    @if (Model.LiveURL != null)
    {
      <h4>Live Link: </h4>
      <p><a href="http://@Model.LiveURL" target="_blank">Click here for Live Demo</a></p>
    }
  </div>

  <div class="text-center">
    @foreach(ProjectImg img in Model.ProjectImgs)
    {
    <div class="col project-info-img-box">
      <a href="~/img/@img.ImgLoc" data-lightbox="mygallery" data-title="@img.Alt">
        <img src="~/img/@img.ImgLoc" alt="@img.Alt" class="proj-images img-fluid">
      </a>
    </div>
    }
  </div>
</div>