@{
  ViewData["Title"] = "Project Info";
}
@model Project

<section id="project-info" class="p-2">
  <div class="container">
    @if(ViewBag.isAdmin == true)
    {    
      <div class="text-center">
        <a asp-action="EditForm" asp-route-id="@Model.ProjectId">
          <button class="btn-primary">Edit Project</button>
        </a>
      </div>
    }
    <h1 class="title">@Model.Title</h1>
    <h3>Language and Technologies:</h3>
    <p>@Model.LangAndTech</p>
    <h3>What I learned:</h3>
    <p class="multiline">@Model.Learned</p>
    <h3>Most difficult part:</h3>
    <p class="multiline">@Model.Difficult</p>
    @if (Model.RepoURL != null || Model.LiveURL != null)
    {
      <h3>Project Related Links:</h3>
    }
    <div class="icons">
      @if (Model.RepoURL != null)
      {
        <a href="@Model.RepoURL" target="_blank">
          <i class="fab fa-github fa-2x"></i>
        </a>
      }
      @if (Model.LiveURL != null)
      {
        <a href="http://@Model.LiveURL" target="_blank">
          <i class="fas fa-window-maximize fa-2x"></i>
        </a>
      }
    </div>
  </div>
</section>

<section class="p-2">
  <div class="container">
    <div class="image-gallery">
      @foreach(ProjectImg img in Model.ProjectImgs)
      {
        <div class="image">
          <a href="~/img/@img.ImgLoc" data-lightbox="mygallery" data-title="@img.Alt">
            <img src="~/img/@img.ImgLoc" alt="@img.Alt" class="img-fluid">
          </a>
        </div>
      }
    </div>
  </div>
</section>  