@{
  ViewData["Title"] = "Project Info";
}
@model Project

<h1 class="text-center" style="margin-bottom: 20px;">@Model.Title</h1>

<div class="text-center">
  @foreach(ProjectImg img in Model.ProjectImgs)
  {
  <div class="col" style="height: 300px; max-width: 19%; display: inline-block; vertical-align: top;">
    <a href="~/img/@img.ImgLoc" data-lightbox="mygallery" data-title="@img.Alt">
      <img src="~/img/@img.ImgLoc" alt="@img.Alt" class="proj-images img-fluid"
      style="width: 100%; height: 100%; object-fit: cover;">
    </a>
  </div>
  }
</div>

<div style="margin-top: 20px;">
  <h4>Language and Technologies:</h4>
  <p>@Model.LangAndTech</p>

  <h4>What I learned:</h4>
  <p>@Model.Learned</p>

  <h4>Most difficult part:</h4>
  <p>@Model.Difficult</p>

  <h4>Github Repo: </h4>
  <p><a href="@Model.RepoURL" target="_blank"> Click here to see the Repo</a></p>

  <h4>Live Link: </h4>
  <p><a href="http://@Model.LiveURL" target="_blank">Click here for Live Demo</a></p>
</div>