@{
    ViewData["Title"] = "Home Page";
}
@model BlogsProjectsViewModel

<div class="text-center header-bg header-spacing">
	<h1 class="display-4 slide-in index-welcome">WELCOME!!</h1>
	<h3>My name is Howard. I am a</h3>
	<h3>Web Developer, Gamer, Health Enthusiast</h3>
	<h3>and Knowledge Seeker</h3>
</div>

<div class="text-center recent-projects">
	<h1 class="slide-in">Recent Projects</h1>
	<div class="container">
		@foreach (Project project in Model.Projects)
		{
		<div class="col-sm project-section recent-project-box">
			<img src="~/img/@project.ProjectImgs[0].ImgLoc" alt="@project.ProjectImgs[0].Alt">
			<div class="padding-0-10">
				<h3 class="text-center">
					<a asp-controller="Project" asp-action="Info" asp-route-title="@project.Title">@project.Title</a>
				</h3>
				<p class="text-center">@project.LangAndTech</p>
				<div class="icons">
					<a href="http://@project.LiveURL" target="_blank">
						<img src="~/img/icon-web.png" alt="Link to live site">
					</a>
					<a href="@project.RepoURL" target="_blank">
						<img src="~/img/icon-github.png" alt="Github icon">
					</a>
				</div>
			</div>
		</div>
		}
	</div>
</div>

<div class="text-center header-bg header-spacing">
	<h1 class="slide-in recent-blogs-header">Recent Blogs</h1>
	@foreach (Blog blog in Model.Blogs)
	{
		<div class="row recent-blog-box">
			<div class="col-11">
				<h3>
					<a asp-controller="Blog" asp-action="Info" asp-route-title="@blog.Title">@blog.Title</a>
				</h3>
				<p class="text-left recent-blog-content">
					@blog.Content
				</p>
				<p class="text-right small">
					@blog.CreatedAt
				</p>
			</div>
		</div>
	}
</div>