@{
	ViewData["Title"] = "Howard Choi | Software Engineer | Web Developer";
}
@model BlogsProjectsViewModel

<header id="home-header" class="p-2">
	<div class="container">
		<h1>Welcome!</h1>
		<p>I hope this website reflects every part of who I am</p>
	</div>
</header>

<section id="home-projects" class="p-2">
	<div class="container">
		<div class="section-title">
			<span>Recent Projects</span>
		</div>
		<div class="projects">
			@foreach(Project project in Model.Projects)
			{
				<div class="project">
					<div class="project-image">
						<img src="~/img/@project.ProjectImgs[0].ImgLoc" alt="@project.ProjectImgs[0].Alt">
					</div>
					<div class="project-content px-2">
						<h2>@project.Title</h2>
						<p class="text-center">@project.LangAndTech</p>
						<a asp-controller="Project" asp-action="Info" asp-route-title="@project.Title">
							<button>See More</button>
						</a>
					</div>
				</div>
			}
		</div>
	</div>
</section>

<section id="home-blogs" class="p-2">
	<div class="container">
		<div class="section-title">
			<span>Recent Blogs</span>
		</div>
		<div class="blogs">
			@foreach (Blog blog in Model.Blogs)
			{
				<div class="blog py-1">
					<a asp-controller="Blog" asp-action="Info" asp-route-title="@blog.Title">
						<div class="blog-content px-2">
							<h2>@blog.Title</h2>
							<p>@blog.Content</p>
							<small>@blog.CreatedAt PST</small>
						</div>
					</a>
				</div>
			}
		</div>
	</div>
</section>