@{
    ViewData["Title"] = "Blogs";
}
@model List<Blog>

<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      Blog Filter
    </div>

    <ul class="list-unstyled components">
      <p>Filter Blogs</p>
      <li>
        @for(int i = 0; i < ViewBag.blogCountByYear.Count; i++)
        {
          int year = ViewBag.Now.Year;
          int month = ViewBag.Now.Month;
          <a href="#yearSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle blog-filter">@year (@ViewBag.blogCountByYear[year])</a>
          <ul class="collapse list-unstyled" id="yearSubmenu">
          @foreach(KeyValuePair<DateTime, int> blog in ViewBag.blogCountByMonth)
          {
            if(blog.Value != 0 && blog.Key.Year == year && blog.Key.Month == month)
            {
              <li><a href="#" class="blog-filter">@blog.Key.ToString("MMM") (@blog.Value)</a></li>
            }
            month--;
          }
          </ul>
          year--;
        }
      </li>
    </ul>
  </nav>

  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Toggle Filter</span>
        </button>
      </div>
    </nav>

    <h1>@Model[0].CreatedAt.ToString("MMMM")</h1>
    <div class="row justify-content-md-center" style="margin: 10px 0px;">
      <div class="col-2 text-center" style="border-left: 1px solid black; border-radius: 30px 0px 0px 30px;">
        <h4 style="margin: 2px">@Model[0].CreatedAt.Day</h4>
        <h4 style="margin: 2px">@Model[0].CreatedAt.ToString("ddd")</h4>
        <h4 style="margin: 2px">@Model[0].CreatedAt.ToString("HH:mm")</h4>
      </div>
      <div class="col-9" style="border-right: 1px solid black; border-radius: 0px 30px 30px 0px;">
        <h4>
          <a asp-action="Info" asp-route-title="@Model[0].Title">@Model[0].Title</a>
        </h4>
        <p style="margin: 0px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
          @Model[0].Content
        </p>
      </div>
    </div>
    @for (int i = 1; i < Model.Count; i++)
    {
      if (Model[i].CreatedAt.Month != Model[i-1].CreatedAt.Month)
      {
        <h1>@Model[i].CreatedAt.ToString("MMMM")</h1>
      }
      <div class="row justify-content-md-center" style="margin: 10px 0px;">
        <div class="col-2 text-center" style="border-left: 1px solid black; border-radius: 30px 0px 0px 30px;">
          <h4 style="margin: 3px">@Model[i].CreatedAt.Day</h4>
          <h4 style="margin: 3px">@Model[i].CreatedAt.ToString("ddd")</h4>
          <h4 style="margin: 3px">@Model[i].CreatedAt.ToString("HH:mm")</h4>
        </div>
        <div class="col-9" style="border-right: 1px solid black; border-radius: 0px 30px 30px 0px;">
          <h4><a asp-action="Info" asp-route-title="@Model[i].Title">
            @Model[i].Title
          </a></h4>
          <p style="margin: 0px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
            @Model[i].Content
          </p>
        </div>
      </div>
    }

  </div>
</div>