@{
    ViewData["Title"] = "Blogs";
    int i = 0;
    bool newOrSameMonth = true;
}
@model List<Blog>

<section id="blogs-index" class="p-2">
  <div class="container">
    @if(ViewBag.isAdmin == true)
    {
      <a asp-action="CreateForm">
        <button class="btn-primary">Create Blog</button>
      </a>
    }
    @while (i < Model.Count)
    {
      newOrSameMonth = true;
      if (i == 0 || Model[i].CreatedAt.Month != Model[i-1].CreatedAt.Month)
      {
        <div class="section-title">
          <span>@Model[i].CreatedAt.ToString("MMMM")</span>
        </div>
      }
      <div class="blogs">
        @while((i < Model.Count) && (i == 0 || newOrSameMonth))
        {
          <div class="blog py-1">
            <a asp-controller="Blog" asp-action="Info" asp-route-title="@Model[i].Title">
              <div class="blog-content px-2">
                <h2>@Model[i].Title</h2>
                <p>@Model[i].Content</p>
                <small>@Model[i].CreatedAt</small>
              </div>
            </a>
          </div>
          i++;
          if(i >= Model.Count){
            break;
          }
          else{
            newOrSameMonth = Model[i].CreatedAt.Month == Model[i-1].CreatedAt.Month;
          }
        }
      </div>
    }
  </div>
</section>