@{
  ViewData["Title"] = "Blog Info";
}
@model Blog

<div class="header-spacing">
  @if(ViewBag.isAdmin == true)
  {
    <div class="text-center">
      <a asp-action="EditForm" asp-route-id="@Model.BlogId">
        <button class="btn btn-info">
          <span>Edit Blog</span>
        </button>
      </a>
    </div>
  }
  <h1 class="text-center">@Model.Title</h1>
  <p class="text-center">@Model.CreatedAt.ToString("yyyy-MM-dd dddd HH:mm")</p>
  <p class="multiline">
    @Model.Content
  </p>

  <div class="text-center">
    @foreach(BlogImg img in Model.BlogImgs)
    {
      <div class="col blog-info-img-box">
        <a href="~/img/@img.ImgLoc" data-lightbox="mygallery" data-title="@img.Alt">
          <img src="~/img/@img.ImgLoc" alt="@img.Alt" class="proj-images img-fluid">
        </a>
      </div>  
    }
  </div>
</div>