@{
  ViewData["Title"] = "Blog Info";
}
@model Blog

<h1 class="text-center">@Model.Title</h1>
<p class="text-center">@Model.CreatedAt.ToString("yyyy-MM-dd dddd HH:mm")</p>
<p>
  @Model.Content
</p>

<div class="text-center">
  @foreach(BlogImg img in Model.BlogImgs)
  {
    <div class="col" style="height: 300px; width: 19%; display: inline-block; vertical-align: top;">
      <a href="~/img/@img.ImgLoc" data-lightbox="mygallery" data-title="@img.Alt">
        <img src="~/img/@img.ImgLoc" alt="@img.Alt" class="proj-images img-fluid"
        style="width: 100%; height: 100%; object-fit: cover;">
      </a>
    </div>  
  }
</div>